@media screen and (min-width:1px) and (max-width:1220px){
	.wode_{
		width: 90vw;
	}
	.wode_neirong{
		width: calc(90vw - 20px);
	}
}

@media screen and (min-width:1220px){
	.wode_{
		width: 1200px;
	}
	.wode_neirong{
		width: 1180px;
	}

}
@media screen and (min-width:1px) and (max-width:450px){
	.wode_daohanglanxiang_lianjie{
		width: calc(100% / 4);
		height: 25px;
	}
	.wode_daohanglanxiang{
		height: 25px;
		line-height: 25px;
		font-size: 0.1px;
	}
	#wode_daohanglanxiang_1{
		border-radius: 5px 0 0 5px;
	}
	#wode_daohanglanxiang_4{
		border-radius: 0 5px 5px 0;
	}
	.wode_daohanglan{
		margin: 10px auto 0px;
		height: 25px;
	}
	.wode_{
		border-radius:15px;
	}
}
@media screen and (min-width:450px){
	.wode_daohanglanxiang_lianjie{
		width: calc(100% / 4);
		height: 40px;
	}
	.wode_daohanglanxiang{
		height: 40px;
		line-height: 40px;
	}
	#wode_daohanglanxiang_1{
		border-radius: 10px 0 0 10px;
	}
	#wode_daohanglanxiang_4{
		border-radius: 0 10px 10px 0;
	}
	.wode_daohanglan{
		margin: 20px auto 10px;
		height: 40px;
	}
	.wode_{
		border-radius: 35px;
	}
}
.wode_{
	min-height: 850px;
	margin: 40px auto ;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 2px #C2CCD0;
	padding: 1px 10px;
}
.wode_daohanglanxiang_lianjie{
	transition: 0.3s;
	text-align: center;
	float: left;
	list-style: none;
	border: 1px solid #177CB0;
	background-color: #009DC1;
}
.wode_daohanglanxiang{
	transition: 0.3s;
}
.wode_daohanglanxiang_lianjie:hover{
	background-color: #177CB0;
}
.wode_daohanglan{
	transition: 0.3s;
	width: 90%;
}
.wode_daohanglanxiang_lianjie{
	text-decoration: none;
	color:#ffffff;
}
.wode_neirong{
}