.tiezi{
	min-height: 1500px;
	margin: 40px 10px;
	margin: 40px auto;
	/* border: 1px solid #000000; */
}
.tiezi-biaoti{
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.tiezi-neirong{
	margin: 10px 10px;
	background-color: #ffffff;
	border-radius: 10px;
	min-height: 100px;
	box-shadow: 0px 0px 5px 2px #C2CCD0;
}
.tiezi-tuijian{
	margin: 10px 10px;
	background-color: #ffffff;
	border-radius: 10px;
	min-height: 100px;
	box-shadow: 0px 0px 5px 2px #C2CCD0;
}
.tiezi-tuijian-lianjie-div{
	height: 25px;
	width: calc(100% - 30px);
	/* border: 1px solid #000000; */
	margin: 0px 15px;
	border-radius: 5px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-top: 5px;
	transition: 0.3s;
}
.tiezi-neirong-tobufen{
	margin: 0 15px;
	padding-top: 10px;
}
.tiezi-neirong-tobufen-lianjie{
	color: #000000;
}
.tiezi-neirong-wenzhang{
	margin: 0 15px;
}
.tiezi-neirong-tobufen-mingcheng{
	float: left;
	margin: 0px 0 0 5px;
}
.tiezi-neirong-tobufen-touxiang{
	float: left;
}
.tiezi-neirong-tobufen-mingcheng-riqi{
	font-size: 1px;
}
.tiezi-tuijian-lianjie{
	text-decoration: none;
	color: #065279;
	text-indent: 2px;
	line-height: 25px;
}
.tiezi-tuijian-dibu{
	height: 10px;
}
.tiezi-tuijian-lianjie-div:hover{
	background-color: #c2ccd0;
}