
@media screen and (min-width:1px) and (max-width:1160px){
	.zuopinzhanshi_div{
		width: calc(100% - 10px);
	}
	.zuopinzhanshi_xinxi{
		width:calc(100% - 220px);
	}
}

@media screen and (min-width:1160px){
	.zuopinzhanshi_div{
		width: 100%;
	}
	.zuopinzhanshi_xinxi{
		width: 79%;
	}
	
}

@media screen and (min-width:1px) and (max-width:510px){
	.zuopinzhanshi_shenbufen{
		height: 190px;
	}
	.zuopinzhanshi_xinxi_weibu{
		transform: translateX(-185px);
		height: 20px;
		width: calc(100% + 160px);
		margin-top: 15px;
	}
	.zuopinzhanshi_xinxi_weibu_dianzan,.zuopinzhanshi_xinxi_weibu_guankan,.zuopinzhanshi_xinxi_weibu_shoucang{
		margin-left: 10px;
		line-height: 20px;
		height: 20px;
		width: 40px;
		font-size: 1px;
	}
	.zuopinzhanshi_xinxi_weibu_dianzan_tubiao,.zuopinzhanshi_xinxi_weibu_shoucang_tubiao,.zuopinzhanshi_xinxi_weibu_guankan_tubiao{
		width: 10px;
		height: 10px;
		margin-top: 5px;
		margin-right: 3px;
	}
}
@media screen and (min-width:510px){
	.zuopinzhanshi_xinxi_shenbu{
		height: 75px;
	}
	.zuopinzhanshi_shenbufen{
		height: 150px;
	}
	.zuopinzhanshi_xinxi_weibu{
		height: 24px;
		width: 100%;
		margin-top: 5px;
	}
	.zuopinzhanshi_xinxi_weibu_dianzan,.zuopinzhanshi_xinxi_weibu_guankan,.zuopinzhanshi_xinxi_weibu_shoucang{
		line-height: 24px;
		margin-left: 10px;
		margin-top: 0px;
		height: 24px;
		width: 50px;
	}
	.zuopinzhanshi_xinxi_weibu_dianzan_tubiao,.zuopinzhanshi_xinxi_weibu_shoucang_tubiao,.zuopinzhanshi_xinxi_weibu_guankan_tubiao{
		width: 15px;
		height: 15px;
		margin-top: 5px;
		margin-right: 3px;
	}
}
@media screen and (min-width:247px) and (max-width:510px){
	.zuopinzhanshi_xinxi_shenbu{
		height: 110px;
	}
}
@media screen and (min-width:247px){

	.zuopinzhanshi_xinxi{
		height: 130px;
	}
}
.zuopinzhanshi_fengmian{
	height: 120px;
	width: 160px;
}
@media screen and (min-width:1px) and (max-width:290px){
	.zuopinzhanshi_xinxi{
		height: 0px;
	}
	.zuopinzhanshi_xinxi_shenbu{
		height: 0px;
	}
	.zuopinzhanshi_xinxi_toubu{
		height: 0px;
	}
	.zuopinzhanshi_xinxi_weibu{
		margin-top: -10px;
		transform: translateY(-0px);
	}
	.zuopinzhanshi_shenbufen{
		height: 180px;
	}
}
.zuopinzhanshi_xinxi_shenbu{
	overflow:hidden;
	word-wrap: break-word;
	text-indent: 2em;
}
.zuopinzhanshi_xinxi_weibu{
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #C2CCD0;
	
}
.zuopinzhanshi_xinxi_weibu_beijing{
	width: 100%;
	height: 24px;
}
.zuopinzhanshi_xinxi_weibu_dianzan,.zuopinzhanshi_xinxi_weibu_guankan,.zuopinzhanshi_xinxi_weibu_shoucang{
	float: left;
}
.zuopinzhanshi_xinxi_weibu_dianzan_tubiao,.zuopinzhanshi_xinxi_weibu_shoucang_tubiao,.zuopinzhanshi_xinxi_weibu_guankan_tubiao{

}
.zuopinzhanshi_div{
	margin: 30px auto 40px;
	padding: 0 10px;
}
.zuopinzhanshi_bufen_mingcheng{
	float: left;
	padding-bottom: 15px;
	
}
.zuopinzhanshi_bufen_chakanquanbu{
	float: right;
	padding-bottom: 15px;
}
.zuopinzhanshi_shenbufen{
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 2px #C2CCD0;
	margin-bottom: 25px;
	
}
.zuopinzhanshi_fengmian{
	background-color: #000000;
	border-radius: 15px;
	float: left;
	margin: 15px 15px;
	
}
.zuopinzhanshi_fengmian_touxiang{
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 98px;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 2px #ffffff;
	position:absolute;
	z-index:2;
	border: 1px solid #C6C6C6;
}
.zuopinzhanshi_fengmian_mingcheng{
	height: 20px;
	width: 100px;
	line-height: 20px;
	float: left;
	margin-top: 100.5px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 3px #ffffff;
	text-indent: 7em;
	font-size: 5px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.zuopinzhanshi_xinxi{
	float: left;
	margin: 10px 10px;
}
.zuopinzhanshi_mingcheng{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

